.row.upgrade-message
  .large-12.columns
    %h3 Game currently unavailable
    %p<
      From 7/1/2015 - 8/15/2015, freeonlinetypinggames.com will be undergoing a major upgrade. During this time, we will be rebuilding many of the games so they are better and mobile-friendly.  In the meantime, some of our custom games (such as this one) will not be available, but there are still plenty of
      =link_to "typing games", other_games_path
      here to play
  .large-12.columns
    .panel
      =link_to "http://goodlucktest.com" do
        %h4 How lucky are you?

