.row{:style=>"z-index:900;top: 0px;"}
  .large-6.medium-2.small-2.columns{:style => "height: 48px;line-height:42px;"}
    =link_to root_path do
      %h2.logo Free Online Typing Games

  .large-6.medium-10.small-10.columns{:style => "float: right; height: 48px;font-weight:500;"}
    #header-menu.show-for-small
      -if user_signed_in?

        .header-mesnu
          =link_to new_user_session_path, :class => "button" do
            Stats


    #header-menu.show-for-medium-up
      -if user_signed_in?
        .header-menu

          -#= render :partial => 'users/personal_menu'


      -else
        .header-menu
          =link_to new_user_session_path do
            %button.right
              Login
        .header-menu
          =link_to new_user_registration_path do
            %button.right
              Register

