.row{:style=>"z-index:900;top: 0px;"}
  .large-6.medium-7.small-2.columns{:style => "height: 48px;line-height:42px;"}
    =link_to root_path do
      %h2.logo.show-for-medium-up Free Online Typing Games
      %h2.logo.show-for-small-only FOTG


  .large-6.medium-5.small-10.columns{:style => "float: right; height: 48px;font-weight:500;"}

    #header-menu
      -if user_signed_in?
        .header-menu
          =link_to destroy_user_session_path, :method => 'delete' do
            %button.right
              Logout

      -else
        .header-menu
          =link_to new_user_session_path do
            %button.right
              Login
        .header-menu
          =link_to new_user_registration_path do
            %button.right
              Register

