%ul
  %li=link_to "Our Typing Games", games_path
  %li=link_to "Other Tying Games", other_games_path
  %li=link_to "Kids Typing Games", other_games_path
  %li=link_to "WPM Typing Tests", wpm_tests_path
  %li=link_to "Typing Tutor", "/typing-tutor"


%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ fotg sidebar
%ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-format" => "auto", "data-ad-slot" => "4755479423", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});