%title Free Online Typing Games | The Keyboard Playground
%meta{:content => "Keyboard Playground | Free Online Typing Games", :property => "og:title"}
%meta{:content => "Free Online Typing Games", :property => "og:site_name"}
%meta{:content => "Games, tests and tutors to help you learn to type on keyboards and mobile devices.", :property => "og:description"}
%meta{:content => "Keyboard Playground | Free Online Typing Games", :property => "title"}
%meta{:property => "description", :content => "Games, tests and tutors to help you learn to type on keyboards and mobile devices."}
%meta{:property => 'keywords', :content => 'typing, games, online, play, tests, keyboarding, wpm'}
