-content_for :head do
  %title Good Luck Test
  %meta{:content => "Test Your Luck", :property => "og:title"}
  %meta{:content => "Good Luck", :property => "og:site_name"}
  %meta{:content => "Take an hourly luck test and see how you luck compares to people across the world.", :property => "og:description"}
  %meta{:content => 'Good Luck Test', :property => "title"}
  %meta{:property => "description", :content => 'Is it your lucky day?  Is your overall luck good or bad? Test your luck with these fun quick games and see how lucky you are compared to others across the world. '}
  %meta{:property => 'keywords', :content => 'luck,lucky,good,test,day,exam,how,game,press,lottery,play, competition'}
.row
  .large-12.columns
    %p FreeOnlineTypingGames.com aka The Keyboard Playground is home to a huge collection of online typing games, WPM typing tests, a typing tutor, and other free typing resources to help you improve your keyboarding skills.  Practicing typing has never been so fun!
.row
  .large-8.columns
    %h4 FOTG Original Games
    -@games.each do |game|
      =render :partial => 'games/game_logo', :locals => {game:game}
  .large-4.columns
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      / fotg home page
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-format" => "auto", "data-ad-slot" => "7811520627", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
.row{:style => "margin-top: 15px;"}
  .large-8.columns
    %h4 Other Typing Games
    -@other_games.each do |game|
      =render :partial => 'games/other_game_logo', :locals => {game:game}
  .large-4.columns
    %h5 Site News
    %p FOTG will be undergoing a major upgrade during the summer of 2015.  The new site won't be fully complete for a couple months, but have started this process now with a new design that is faster and mobile-friendly.  New games and features will be added throughout the summer!
.row{:style => "margin-top: 15px;"}
  .large-8.columns
    %h4 Kids Typing Games
    -@kids_games.each do |game|
      =render :partial => 'games/other_game_logo', :locals => {game:game}
  .large-4.columns
    %h5 Typing Resources
