.row
  .large-12.columns
    %h3 Keyboarding Directory
    %h5 Typing sites across the web
    %p There are thousands of websites out there that can help you become a better typist.  Here is out collection of some of the ones we have come across:
