.row
  .large-12.columns
    %h3 Learn how to type
    %h5 Why learn how to type?
    %p Well, developing strong touch-typing skills can go a long ways towards making your time at the computer more productive and efficient. Having to visually search for each key to visually slows your typing speed considerably and has ergonomic implications to boot. At a minimum, knowing how to type is going to enhance your computing experience, but it may also be able to land you a better job or perform at a higher level at school.
    %p What you should do to improve your typing speed and accuracy depends on where you are in your typing career. Beginning or novice typists should start with some formal keyboard-training software (check out this list of typing tutors and typing software). If you have already learned the location of all the keys and can type (more or less) without making too many typos, now might be the time to check out some free typing games and practice your typing skills in a fun and challenging environment. If you are already an expert typer – or so you think – you may want to try out one of the typing competitions. And no matter where you fall in this spectrum, it’s always fun to take a typing test and learn your wpm typing speed.
    %h5 A few good sites to help you learn more about typing…
    =link_to "howtotype.net", "http://howtotype.net"
    %br
    =link_to "basic typing wiki", "http://www.wikihow.com/Type"
    %br
    =link_to "how to type in a different language", "http://www.wikihow.com/Type-in-Another-Language-on-Windows-Vista"
    %br
    =link_to "how to type accents", 'http://www.accentcodes.com/'
    %br
    %p The most important thing to remember when learning how to touch-type is to stick with it! It may be very frustrating to learn, and the urge to look down at the keyboard can be overwhelming, but keep the end goal in sight and work through these obstacles – in the long run, it will make you a better and faster typist. So don’t wait any longer to learn how to type!