.row
  .large-12.columns
    %h3 Typing Tutor
    %h5 Work your way through more and more difficult challenges as you learn to type.
    %p All the games you see here are available for licensing. If you have a website or typing program that might benefit from the inclusion of one of my games, contact me and we can discuss possibilities. Rates and terms depend on the nature of your project and the size of your audience. In the case of websites supported by ads, I am open to revenue-sharing arrangements in exchange for providing content.
    %p You can also post up to 2 of my game for free provided that you include a link back to my site along with each game. For more info, read how to add typing games to your site.