.row
  .large-12.columns
    %h3 Typing Tutor
    %h5 Work your way through more and more difficult challenges as you learn to type.

    %p This program is designed to help you practice touch-typing. It is for both the novice typist looking to learn, or a seasoned hunt-and-peck typist looking to kick their bad habits. It consists of 26 levels, each with 3 stages and could take anywhere from 30 minutes to 2 hours to complete, depending on how well you are typing.
    %p The lesson begins on the home row with they keys J & F. Each successive level introduces a new letter, and you must demonstrate competence at that level (typing the text without error) before moving on to the next letter. If you err, you will be able to try again and again until you get it right.
    %p At first, the text will be nonsense, but once ‘A’ is introduced on level 7, you will begin working with words. This differentiates our tutor from others and helps you learn in a more authentic and natural way.
    %p Click the BEGIN button to get started, or use one of the quick links below to jump to a particular level.