.row
  .large-12.columns
    %h3 Typing Practice
    %h5 Strong typing skills make you more productive and more employable!
    %p Having strong typing skills is important if you use the computer, whether you are writing papers for school, emails for work, or just chatting with friends. Often, the speed at which you type affects your productivity or ability to communicate. Just about everyone would benefit from having more refined and accurate typing skills.
    %p Certainly you can build these skills in many ways; just by using the computer and going about your business you are refining your abilities. Additionally, there are various typing programs that will provide you with various exercises and help you become a more efficient typist. But ultimately, one of the best way to learn to type better and faster is by playing typing games. This way you play as you learn and you have fun as you develop into a master of the keyboard.
    %p If you are looking for a typing program, try out one of the ads on the left or check out our list of typing tutors. Otherwise, choose from the 10 different typing games and typing tests we offer and start exercising those fingers!