.row
  .large-12.columns.centered
    %object{:data => asset_path(@game.file_name, flash), :height => "400",:width => "400", :type => "application/x-shockwave-flash"}
      %param{:name => "movie", :value => asset_path(@game.file_name, flash)}/
      %param{:name => "quality", :value => "high"}/
    %section.section
      %h5.title
        %a{:href => "#panel2"} Comments
      .content{"data-slug" => "panel2"}
        .comments
          -if user_signed_in?
            = render :partial => 'comments/form', :locals => { :comment => @new_comment }
          = render :partial => 'comments/comment', :collection => @comments, :as => :comment
        .comment-bottom